[run]
branch = True
source = exopy
omit =
    */exopy/testing/*
    *exopy/version.py
    */exopy/utils/widgets/*
    */__init__.py
plugins =
    enaml_coverage_plugin

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
    pass
